
body {
    background-color: Black;
    height: 728px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
.Fresu h3 {
    margin: 1px 0px 0px 0px;
}
.Fresu h4 {
    margin: 9px 1px 1px 1px;
}
.Fresu p {
    margin: 13px 1px 0px 1px;
}
.Fresu h2 {
    margin: 14px 0px 0px 0px;
}
.Fresu h1 {
    background-color: WhiteSmoke;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    margin: 7px;
}
#h1titre p {
    font-family: serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
#h1titre {
    background-color: WhiteSmoke;
    border-radius: 10px 10px 10px 10px;
    margin: 1px;
    padding: 5px 16px;
}
.cinedebat {
    width: 144px;
}
.Film_seance {
    background-color: WhiteSmoke;
    border: 2px solid Black;
    clear: left;
    margin: 0;
    width: 1022px;
}
.Fpg {
    background-color: WhiteSmoke;
    float: left;
    margin: 0;
    width: 151px;
}
.Fpg span {
    font-family: verdana;
    font-size: 10px;
    font-style: italic;
    padding: 25px;
}
.Fseance p {
    font-family: Verdana;
    font-size: 14px;
    margin: 11px 4px;
    text-align: center;
}
.Fresu {
    background-color: gray;
    font-family: Verdana;
    margin-left: 151px;
    padding: 3px 9px 1px 9px;
    width: 853px;
}
.Fresu h3 {
    text-align: right;
}
.Fresu h5 {
    font-family: verdana;
    font-size: 14px;
    font-style: italic;
}
#footer {
    background-image: url("../images/footer2.jpg");
    clear: left;
    margin: 0;
    padding: 1px 0 0 40px;
}
#footer a {
    margin: 6px 3px 7px 19px;
}
#header {
    background-image: url("../images/bandeheader.jpg");
    background-repeat: repeat-y;
    height: 153px;
    margin: 1px;
    width: 1024px;
    z-index: 2;
}
#barrebouton {
    float: right;
    margin: 40px 8px 1px 0;
    z-index: 0;
}
button {
    margin: -2px 5px 1px;
}
#tdate {
    margin: 0 15px 0 10px;
}
#barredate {
    background-color: FloralWhite;
    border-radius: 10px 10px 10px 10px;
    font-family: Verdana;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.main_photo img {
    margin: 2px 31px 5px 60px;
}
.main_photoT img {
    margin: 2px 50px 0px 68px;
}
.slides_container {
    display: none;
    overflow: hidden;
    position: relative;
    width: 853px;
}
.slides_container a {
    display: block;
    height: 480px;
    width: 720px;
}
.slides_container a img {
    display: block;
}
#slides .next, #slides .prev {
    display: block;
    height: 43px;
    left: -39px;
    position: absolute;
    top: 107px;
    width: 24px;
    z-index: 101;
}
#slides .next {
    left: 585px;
}
.pagination {
    margin: 18px 0 34px 17px;
    width: 600px;
}
.pagination li {
    float: left;
    list-style: none outside none;
    margin: 2px 10px;
}
.pagination li a {
    background-image: url("../images/pagination.png");
    background-position: 1px 0;
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 10px;
    width: 12px;
}
.pagination li.current a {
    background-position: 1px -12px;
}
.pagination li.current a {
    background-position: 0 -12px;
}
.cinedebat {
    color: red;
}
.Dgseance {
    border: 2px solid Black;
    clear: left;
    margin: 0;
    width: 823px;
}
.Dgaff {
    float: left;
    margin: 0;
    width: 152px;
}
.Dgresu {
    font-family: Verdana;
    margin-left: 156px;
    padding: 0 8px;
    width: 652px;
}
#formmail label {
    display: block;
    float: left;
    margin: 16px 2px 0 0;
    width: 159px;
}
#formmail input {
    margin: 18px 0 0;
    width: 500px;
}
#formmail textArea {
    margin: 18px 0 0;
    width: 500px;
}
#finprog h1 {
    background-color: graytext;
    text-align: center;
}
.telechg {
    background-color: WhiteSmoke;
    clear: both;
    margin-bottom: 0;
    margin-top: 1px;
}
.presentation {
    background-color: WhiteSmoke;
    font-family: verdana;
    font-size: 18px;
    margin: 0;
    padding: 9px 16px;
    text-align: justify;
}
.lebut {
    background-color: WhiteSmoke;
    margin-left: 82%;
    padding-bottom: 5px;
}
.lebut a {
    width: 177px;
}
#inscr {
    float: left;
}
.lebut2 {
    background-color: WhiteSmoke;
    margin-left: 64%;
    padding-bottom: 5px;
}
.lebut2 a {
    width: 177px;
}
.espace {
    margin-left: 2em;
}
.seancespe {
    color: green;
    font-weight: bold;
}
.barrefilms img {
    float: left;
    margin: 4px;
}
.barrefilms p {
    color: white;
    float: none;
}
.barrefilms {
    float: left;
}
#bpdefild {
    margin: 4px;
    padding-left: 1px;
    padding-top: 4px;
}
#bpdefilg {
    float: left;
    margin: 4px;
    padding-left: 1px;
}
#bandeau {
    background-image: url("../images/footer.jpg");
    height: 18px;
    margin-top: 9px;
}
.affid {
    border-width: 0;
}
.affidS {
    border: 2px solid white;
}
.interdiction {
    color: Purple;
    font-style: italic;
}
.conseille {
    color: HoneyDew;
    font-style: italic;
}
